{% extends 'base.html'%}
{% block head%}
<title>台鐵每日各站點進出站人數</title>
{% endblock%}
{% block body%}
<table class="table  table-striped">
  <thead>
    <tr>
      <th scope="col">乘車日</th>
      <th scope="col">車站代碼</th>
      <th scope="col">進站人數</th>
      <th scope="col">出站人數</th>
    </tr>
  </thead>
  <tbody>
    {% for station in data %}
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>{{ station.trnOpDate}}</td>
      <td>{{ station.staCode }}</td>
      <td>{{ station.gateInComingCnt }}</td>
      <td>{{ station.gateOutGoingCnt }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}